@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('../src/assets/index.scss');

@config '../tailwind.config.js';
@plugin '@tailwindcss/forms';

.lato-regular {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: 'Lato';
}
