@mixin styles {
  // .plitzi-component__block-jsx {
  // }

  .builder-iframe.builder--display-component-border {
    .plitzi-component__block-jsx {
      &.block-jsx--empty {
        // Render a placeholder for empty containers during build mode
        min-height: 50px;
        min-width: 50px;
      }

      &.plitzi-component {
        > * {
          pointer-events: none;
        }
      }
    }
  }
}
