@mixin styles {
  // .plitzi-component__block-html {
  // }

  .builder-iframe.builder--display-component-border {
    .plitzi-component__block-html {
      &.block-html--empty {
        min-height: 50px;
        min-width: 50px;
      }

      &.plitzi-component {
        > * {
          pointer-events: none;
        }
      }
    }
  }
}
