.plitzi-component__markdown {
  @import '@plitzi/plitzi-ui-components/Markdown/Assets/index.scss';

  &.plitzi-component__markdown--edit-mode {
    .markdown {
      pointer-events: none;
    }
  }

  .markdown {
    height: '100%';
    width: '100%';
    min-height: 0;
    min-width: 0;
  }
}
