@mixin styles {
  .plitzi-component__node-html-hr {
    border-top-width: 1px;
  }

  .builder-iframe.builder--display-component-border {
    .plitzi-component__node-html {
      &.container--empty {
        // Render a placeholder for empty containers during build mode
        min-height: 50px;
        min-width: 50px;
      }
    }
  }
}
