.plitzi-component__reference {
  min-height: 50px;
  min-width: 50px;
}

.reference--build-mode {
  display: flex;
  justify-content: center;
  align-items: center;

  // .reference__label {
  // }
}
