<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://cdn.plitzi.com/resources/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://cdn.plitzi.com" />
    <link rel="preconnect" href="https://server.plitzi.local:8888" />
    <link rel="preconnect" href="https://api.plitzi.local" />
    <link rel="preconnect" href="https://ssr.plitzi.local:4000" />

    <link rel="modulepreload" href="<%= react %>" crossorigin />
    <link rel="modulepreload" href="<%= reactDom %>" crossorigin />
    <link rel="modulepreload" href="<%= jsPath %>" />

    <script type="importmap">
      {
        "imports": {
          "react": "<%= react %>",
          "react-dom": "<%= reactDom %>",
          "react-dom/client": "<%= reactDomClient %>",
          "react/jsx-runtime": "<%= reactJsx %>",
          "@plitzi/plitzi-sdk": "<%= jsPath %>"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </noscript>

    <link href="<%= cssPath %>" rel="preload" as="style" />
    <link href="<%= cssPath %>" rel="stylesheet" />
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>

    <div id="plitzi" class="plitzi-root-container"></div>

    <script type="module">
      import { render } from '<%= jsPath %>';

      render(
        'plitzi',
        {
          webKey:
            'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NzQ2MjY1OTAsImlzcyI6Imh0dHBzOlwvXC9hcGkucGxpdHppLmxvY2FsIiwibmJmIjoxNzc0NjI2NTkwLCJhdWQiOlsiaHR0cHM6XC9cL2FwcC5wbGl0emkubG9jYWwiLCJodHRwczpcL1wvc3NyLnBsaXR6aS5sb2NhbDo0MDAwIiwiaHR0cHM6XC9cL3NlcnZlci5wbGl0emkubG9jYWw6ODg4OCIsImh0dHBzXC9cL2FwcC5wbGl0emkubG9jYWw6MzAwMCIsImh0dHBzOlwvXC9hcHAucGxpdHppLmxvY2FsOjMwMDEiLCJodHRwczpcL1wvd2Vic2l0ZS5wbGl0emkuYXBwIl0sImRhdGEiOnsic3BhY2VJZCI6MTB9LCJ2ZXJzaW9uIjoxfQ.mDHJ_95lDcI-ElMsayuTcL5v93gW53pXn6V0cfQUjEY',
          environment: 'main',
          revision: 0,
          renderMode: 'raw',
          sdkEnvironment: 'local',
          server: { basePath: '/' },
          state: {}
        },
        {},
        true
      );
    </script>
  </body>
</html>
