<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://cdn.plitzi.com/resources/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://cdn.plitzi.com" />
    <link rel="preconnect" href="https://server.plitzi.local" />
    <link rel="preconnect" href="https://api.plitzi.local" />
    <link rel="preconnect" href="https://ssr.plitzi.local" />

    <link rel="modulepreload" href="<%= react %>" crossorigin />
    <link rel="modulepreload" href="<%= reactDom %>" crossorigin />
    <link rel="modulepreload" href="<%= jsPath %>" />

    <script type="importmap">
      {
        "imports": {
          "react": "<%= react %>",
          "react-dom": "<%= reactDom %>",
          "react-dom/client": "<%= reactDomClient %>",
          "react/jsx-runtime": "<%= reactJsx %>",
          "@plitzi/plitzi-sdk": "<%= jsPath %>"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </noscript>

    <link href="<%= cssPath %>" rel="preload" as="style" />
    <link href="<%= cssPath %>" rel="stylesheet" />
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>

    <div id="plitzi" class="plitzi-root-container"></div>

    <script type="module">
      import { render } from '<%= jsPath %>';

      render(
        'plitzi',
        {
          webKey:
            'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InNwYWNlSWQiOjF9LCJpc3MiOiJodHRwczovL3NlcnZlci5wbGl0emkubG9jYWwiLCJhdWQiOlsiaHR0cHM6Ly9hcHAucGxpdHppLmxvY2FsIiwiaHR0cHM6Ly9zc3IucGxpdHppLmxvY2FsIiwiaHR0cHM6Ly9zZXJ2ZXIucGxpdHppLmxvY2FsIiwiaHR0cHM6Ly9hcGkucGxpdHppLmxvY2FsIiwiaHR0cHM6Ly9tY3AucGxpdHppLmxvY2FsIiwiaHR0cHM6Ly9hcHAucGxpdHppLmxvY2FsOjMwMDAiLCJodHRwczovL2FwcC5wbGl0emkubG9jYWw6MzAwMSIsImh0dHBzOi8vd2Vic2l0ZS5wbGl0emkuYXBwIl0sInZlcnNpb24iOjEsImV4cCI6MTc4Njk1MDc1NCwiaWF0IjoxNzg0MzIwNzU4LCJuYmYiOjE3ODQzMjA3NTh9.VagnHUdr4tVUQfx_a5Cwq7OJ3ywlj02qJhDzDzxOScQ',
          environment: 'main',
          revision: 0,
          renderMode: 'raw',
          server: {
            basePath: '/',
            // Dashboard
            apiServer: 'https://api.plitzi.local',
            ssrServer: 'https://ssr.plitzi.local',
            // SDK
            serverUrl: 'https://server.plitzi.local',
            websocketServer: 'wss://server.plitzi.local',
            subscriptionServer: 'wss://server.plitzi.local/subscriptions'
          },
          state: {}
        },
        {},
        true
      );
    </script>
  </body>
</html>
