<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Plitzi App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="https://cdn.plitzi.com/resources/img/favicon.svg" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://cdn.plitzi.com" />

  <link
    rel="preload"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
    rel="preload"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </noscript>

  <script type="text/javascript" src="{{jsPath}}"></script>
  <link href="{{cssPath}}" rel="stylesheet" />
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="plitzi" class="plitzi-root-container"></div>
  <script>
    PlitziSdk.render(
      'plitzi', // DOM container element
      {
        webKey: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3MTkxNDEyMTcsImlzcyI6WyJodHRwOlwvXC9sb2NhbGhvc3QiXSwibmJmIjoxNzE5MTQxMjE3LCJhdWQiOlsiaHR0cDpcL1wvbG9jYWxob3N0IiwiaHR0cDpcL1wvbG9jYWxob3N0OjQwMDAiLCJodHRwOlwvXC9sb2NhbGhvc3Q6ODg4OCIsImh0dHA6XC9cL2xvY2FsaG9zdDo4ODg5IiwiaHR0cDpcL1wvbG9jYWxob3N0OjMwMDAiLCJodHRwOlwvXC9sb2NhbGhvc3Q6MzAwMSIsImh0dHBzOlwvXC93ZWJzaXRlLnBsaXR6aS5hcHAiXSwiZGF0YSI6eyJzcGFjZUlkIjoxfSwidmVyc2lvbiI6MX0.IN5BZvjScJoKkZsTOnv0hDp-JrBpwIT5u7RFFsyeJog',
        environment: 'main',
        revision: 0,
        renderMode: 'raw',
        sdkEnvironment: 'development',
        server: { basePath: '/' },
        state: {}
      }, // Widget Props
      {
        // pluginType: Plugin Object
      }, // Plugins
      false // debugMode
    );
  </script>
</body>

</html>