@use 'sass:color';

$background-color: #eee;
$background-color-black: #23282d;
$border-color: #ddd;
$border-color-black: #23282d;
$border: 1px solid $border-color;
$border-black: 1px solid $border-color-black;
$font-color-black: #b4b9be;
$white: #fff;
$black: #000;

// gray degradations
$gray-1: #ededed;
$gray-2: #979797;

// COLOR
$primary-color: #4422ee;
$secondary-color: #fff; // still pending

$font-color: #555d66;
$font-color-light-1: #b0b3b8;

$danger-color: #dc3545;
$danger-color--hover: #bd2130;

$border-radius: '4px';

:root {
  --pl-primary-color: #4422ee;
  --pl-primary-color-dark-3: #{color.adjust($primary-color, $lightness: -30%)};
  --pl-primary-color-dark-2-5: #{color.adjust($primary-color, $lightness: -25%)};
  --pl-primary-color-dark-2: #{color.adjust($primary-color, $lightness: -20%)};
  --pl-primary-color-dark-1-5: #{color.adjust($primary-color, $lightness: -15%)};
  --pl-primary-color-dark-1: #{color.adjust($primary-color, $lightness: -10%)};
  --pl-primary-color-light-3: #{color.adjust($primary-color, $lightness: 30%)};
  --pl-primary-color-light-2-5: #{color.adjust($primary-color, $lightness: 25%)};
  --pl-primary-color-light-2: #{color.adjust($primary-color, $lightness: 20%)};
  --pl-primary-color-light-1-5: #{color.adjust($primary-color, $lightness: 15%)};
  --pl-primary-color-light-1: #{color.adjust($primary-color, $lightness: 10%)};

  --pl-danger-color: #{$danger-color};

  --pl-gray-1: #f8f9fc;

  --pl-border-1: #e8e9ef;

  --pl-font-color-1: #97989a;
}
