<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://cdn.plitzi.com/resources/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://cdn.plitzi.com" />
    <link rel="preconnect" href="https://server.plitzi.local:8888" />
    <link rel="preconnect" href="https://server.plitzi.local:8888" />
    <link rel="preconnect" href="https://ssr.plitzi.local:4000" />

    <link rel="modulepreload" href="<%= react %>" crossorigin />
    <link rel="modulepreload" href="<%= reactDom %>" crossorigin />
    <link rel="modulepreload" href="<%= jsPath %>" />

    <script type="importmap">
      {
        "imports": {
          "react": "<%= react %>",
          "react-dom": "<%= reactDom %>",
          "react-dom/client": "<%= reactDomClient %>",
          "react/jsx-runtime": "<%= reactJsx %>",
          "@plitzi/plitzi-sdk": "<%= jsPath %>"
        }
      }
    </script>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </noscript>

    <link href="<%= cssPath %>" rel="preload" as="style" />
    <link href="<%= cssPath %>" rel="stylesheet" />
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>

    <div id="plitzi" class="plitzi-root-container"></div>

    <script type="module">
      import { render } from '<%= jsPath %>';

      render(
        'plitzi',
        {
          webKey:
            'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InNwYWNlSWQiOjF9LCJpc3MiOiJodHRwczovL3NlcnZlci5wbGl0emkubG9jYWw6ODg4OCIsImF1ZCI6WyJodHRwczovL2FwcC5wbGl0emkubG9jYWwiLCJodHRwczovL3Nzci5wbGl0emkubG9jYWw6NDAwMCIsImh0dHBzOi8vc2VydmVyLnBsaXR6aS5sb2NhbDo4ODg4IiwiaHR0cHM6Ly9hcHAucGxpdHppLmxvY2FsOjMwMDAiLCJodHRwczovL2FwcC5wbGl0emkubG9jYWw6MzAwMSIsImh0dHBzOi8vd2Vic2l0ZS5wbGl0emkuYXBwIl0sInZlcnNpb24iOjEsImV4cCI6MTc4NTczMjI4NSwiaWF0IjoxNzgzMTAyMjg5LCJuYmYiOjE3ODMxMDIyODl9.vIfZkUZ76Pd4GlynM7mOnMcS4c9RKvGs6ObHIWDmUA0',
          environment: 'main',
          revision: 0,
          renderMode: 'raw',
          server: {
            basePath: '',
            // Dashboard
            apiServer: 'https://server.plitzi.local:8888',
            ssrServer: 'https://ssr.plitzi.local:4000',
            // SDK
            nodeServer: 'https://server.plitzi.local:8888',
            aiServer: 'https://server.plitzi.local:8891',
            graphqlServer: 'https://server.plitzi.local:8890/graphql',
            websocketServer: 'wss://server.plitzi.local:8890',
            subscriptionServer: 'wss://server.plitzi.local:8890/subscriptions'
          },
          state: {}
        },
        {},
        true
      );
    </script>
  </body>
</html>
